# Importing Libraries

In [540]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings('ignore')

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

# Reading Data

In [552]:
car_data=pd.read_csv("https://prathapputhran.me/content/files/2022/10/car_data.csv")
print(car_data.head())
print(car_data.shape)

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0
(1000, 5)

# Define x and y

In [554]:
x = car_data[['Gender','Age','AnnualSalary']]
x['Gender'].replace({'Male':1,'Female':0},inplace=True)
y= car_data[['Purchased']]

print(x)
print(y)

     Gender  Age  AnnualSalary
0         1   35         20000
1         1   40         43500
2         1   49         74000
3         1   40        107500
4         1   25         79000
..      ...  ...           ...
995       1   38         59000
996       0   47         23500
997       0   28        138500
998       0   48        134000
999       0   44         73500

[1000 rows x 3 columns]
     Purchased
0            0
1            0
2            0
3            1
4            0
..         ...
995          0
996          0
997          1
998          1
999          0

[1000 rows x 1 columns]

# Split the DataSet in Training Set and Test set

In [543]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05,random_state=0)
print(x_train.shape)
print(y_test.shape)

(950, 3)
(50, 1)

# Training the Model on the Training Set

In [555]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(3,2) , activation='relu')
mlp.fit(x_train,y_train)

MLPClassifier(hidden_layer_sizes=(3, 2))

# Predicting the Test Set Results

In [556]:
pred = mlp.predict(x_test)
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

# Evaluating the Model

In [548]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
confusion_matrix(y_test,pred)

array([[34,  0],
       [16,  0]])

In [558]:
print(classification_report(y_test,pred))
print("accuracy_score = ",accuracy_score(y_test,pred))

              precision    recall  f1-score   support

           0       0.68      1.00      0.81        34
           1       0.00      0.00      0.00        16

    accuracy                           0.68        50
   macro avg       0.34      0.50      0.40        50
weighted avg       0.46      0.68      0.55        50

accuracy_score =  0.68